customtable-component:not(.oj-complete) {
  visibility: hidden;
}

customtable-component {
  min-height: 50px;
  width: 100%;
  display: block;
}
selection-table-component.oj-complete {
  width: 100%;
  overflow-x: auto;
}

.oj-table-styled {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.oj-table-styled .oj-table-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.oj-table-styled .oj-table-body tr {
  border-bottom: 1px solid #ddd;
}

.oj-table-styled .oj-table-body tr:hover {
  background-color: #f1f1f1;
}

.oj-table-styled .oj-checkboxset {
  margin-right: 10px;
}
.alc-header {
  background-color: #f4f4f4; /* Light gray background */
  color: #333; /* Dark text color */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text */
  padding: 10px;
  border-bottom: 2px solid #ddd; /* Add a bottom border */
}

.new-line {
  clear: both;
}
.user-journey-list {
  list-style-type: none; /* Remove default bullet points */
  padding-left: 0;
}

.user-journey-list li {
  margin-bottom: 5px; /* Space between steps */
}

/* Checkbox size and background */
.oj-selector .oj-selector-wrapper {
  width: 16px !important;
  height: 16px !important;
}

.oj-selector .oj-selector-wrapper.oj-selected {
  color: #023FE6 !important; /* Blue */
  border: none !important;
}
.oj-selector .oj-selector-wrapper.oj-selected::before {
  background: transparent;
}
.oj-selector .oj-selector-wrapper.oj-selected:hover {
  color: #023FE6 !important;
}

/* Header styling */
.alc-header {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

/* Style the Save button */
#button1 {
  background-color: #023FE6 !important; /* Blue */
  color: white !important;
  border-radius: 6px;
  /* padding: 8px 16px; */
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  position: relative;
  display: block;
  /* margin: 20px 0 0 auto; */
}

/* Add hover effect */
#button1:hover {
  background-color: #022BB8 !important; /* Darker Blue */
}



/* Remove any unwanted icon override */
/* .oj-selector .oj-selector-wrapper.oj-selected:before {
  content: none !important; 
} */


/* .oj-selector .oj-selector-wrapper {
  width: 16px !important;
  height: 16px !important;
}

.oj-selector .oj-selector-wrapper.oj-selected {
  background-color: #023FE6 !important; 
  border: none !important;
}

.oj-selector .oj-selector-wrapper.oj-selected:hover {
  background-color: #023FE6 !important;
}


.alc-header {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ddd;
} */