/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   main-component .main-component-value-text {
   color: var(--main-component-value-text-color);
   display: inline-block;
	 }
*/

main-component:not(.oj-complete) {
  visibility: hidden;
}

main-component {
  min-height: 50px;
  width: 50px;
}

main-component[hidden] {
  display: none;
}

#drawio-editor{
  border:none !important;
  user-select: none !important;
}

.displayWidth{
  width: 0;
}
.toggleButton{
  width:17px;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 2px #00000029;
  border: 0.4000000059604645px solid #A7BDF1;
  border-radius: 4px;
  opacity: 1;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: 9999;
    cursor: pointer;
}
.oj-ux-ico-chevron-left,
.oj-ux-ico-chevron-right {
  color: #9AB4F4;
}
.bchart-window {
  width: 275px;
}