/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   baccordion-component .baccordion-component-value-text {
   color: var(--baccordion-component-value-text-color);
   display: inline-block;
	 }
*/

baccordion-component:not(.oj-complete){
  visibility: hidden;
}

.customBAccordion{
  padding: 0px 20px;
  /* overflow: auto;
  max-height: calc(100vh - 200px); */
  ul,ol{
    padding-right: 0;
    padding-left: 10px;
  }
}
baccordion-component[hidden]
{
  display: none;
}