@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", serif;
}

$primary-color: var(--primary);
$primary-color-60: rgb(2 63 230 / 60%);
$secondary-color: #333333;
$colorGray: #999999;
$color-white: #fff;
$color-border: #cccccc;

.chat-box {
  .mid-panel-wrap {
    height: calc(100vh - 6px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
  }

  .middle-chat-scrl {
    min-height: auto;
    max-height: calc(100vh - 130px);
    overflow: auto;
    padding-top: 16px;
    width: 100%;
    overflow-x: hidden;

    .chat-mid-title {
      h1 {
        font-size: 35px;
        font-weight: bold;
        margin: 0px;
        color: #000000;
      }

      h2 {
        font-size: 35px;
        font-weight: bold;
        line-height: normal;
        margin: 0px;
        color: #0058ff;
      }
      h5 {
        max-width: 545px;
        color: #000000;
        font-size: 14px;
        line-height: 22px;
        margin: 18px auto;
        font-weight: 400;
      }
    }

    .message {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      width: 100%;

      &.user {
        justify-content: flex-end;

        .bubble {
          background-color: #e4eafc;
          border: 0.5px solid #023fe61c;
          border-radius: 6px;
          padding: 6px 10px;
          color: #000000;
          font-size: 16px;
          max-width: 90%;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: normal;
        }

        .user-img-right {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-left: 10px;
          margin-top: 3px;
        }
      }

      &.bot {
        span.bubble-space {
          padding: 8px 10px;
        }

        .bubble {
          background-color: transparent;
          color: #000000;
          font-size: 16px;
          // max-width: 100%;
          // padding: 0px;
          // padding-right: 30px;
          // padding-left: 10px;
          width: 100%;
        }

        .user-left-img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 10px;
          margin-top: -6px;
        }
      }
    }

    .bubble {
      // max-width: 90%;
      // padding: 10px;
      border-radius: 10px;
      font-size: 14px;
      position: relative;
    }

    .chatSession {
      background: #bdbdbd;
      padding: 3px;
      font-size: 14px;
      border-radius: 10px;
    }

    .bot {
      display: inline-flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
}

.rightGrid {
  p {
    color: #151515;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
  }

  .right-box-border {
    background: #ffffff;
    box-shadow: 5px 3px 10px #e8e8e8c7;
    border: 1px solid #023fe669;
    border-radius: 10px;
    height: calc(100vh - 57px);
    padding: 10px;
  }
}

.left-chat-sec-popup {
  width: 218px;
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(232, 232, 232, 0.78);
  border: 1px solid rgba(2, 63, 230, 0.41);
  border-radius: 16px;
  padding: 14px 0px;
  top: 0px;
  left: 100%;
  min-height: calc(100vh - 12px);
  max-height: calc(100vh - 12px);
  box-sizing: border-box;
  z-index: 9;

  .flex-ttl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 14px 12px 14px;

    h3 {
      color: #151515;
      font-size: 12px;
      font-weight: bold;
      margin: 0px;
    }
  }

  .close-icon {
    cursor: pointer;
  }

  .last-date {
    color: #151515;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 14px;
  }

  .previous-date-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  ul {
    &.previous-date-list {
      li {
        margin-bottom: 16px;
        cursor: pointer;
      }

      p {
        &.ttl {
          color: #333333;
          font-size: 14px;
          margin-bottom: -5px;
          line-height: 1.5;
          display: block;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
      }

      span {
        &.date-notes {
          color: #9d9d9d;
          font-size: 12px;
          margin-bottom: 0px;
        }
      }
    }
  }

  .lft-dates-scl {
    max-height: calc(100vh - 68px);
    overflow: auto;
    padding: 0px 0px 0px 10px;
  }
}

/* <!--mobile menu --> */
.for-mobile {
  display: block;
}

.mobile-menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;
  background-color: transparent;
}

.mobile-menu,
.brand-logo,
.notification-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Sidebar */
.sidebar-mobile {
  position: fixed;
  top: 60px;
  left: 0; /* Change from -400px */
  width: 100%; /* Set the desired sidebar width */
  height: 100%;
  background: transparent linear-gradient(180deg, #ffffff 0%, #f3f5fe 100%) 0%
    0% no-repeat padding-box;
  z-index: 999;
  transform: translateX(-100%); /* Move it out of view */
  transition: transform 0.5s ease-in-out;

  .sidebar-inner {
    width: 100%;
    background: transparent linear-gradient(180deg, #ffffff 0%, #f3f5fe 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    position: relative;

    .menu {
      padding: 0 16px 16px 16px;
      list-style: none;
      margin: 0px;
      display: flex;
      flex-direction: column;
      gap: 6px;

      .menu-list {
        // text-align: center;
        cursor: pointer;
        // height: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #ffffff;
        box-shadow: 0px 1px 0px #0000001a;
        border: 2px solid #ffffff;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 17px 17px 16px 12px;

        a {
          color: #101223;
          text-decoration: none;
          text-align: center;
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 100%;
          justify-content: flex-start;
          position: relative;
          gap: 20px;

          span {
            font-size: 16px;
            line-height: 20px;
            color: #101223;
            // padding-left: 10px;
          }

          img {
            width: 22px;
            height: 22px;
            object-fit: contain;
          }

          .hme-icn {
            width: 14px !important;
            height: auto;
            padding-left: 4px;
          }
        }

        &:hover a {
          span {
            color: $primary-color;
          }
          svg {
            path {
              stroke: $primary-color;
            }
            rect {
              line {
                stroke: $primary-color;
              }
            }
          }
          .calendar-icon {
            #Rectangle_298956 {
              stroke: $primary-color;
            }
            line {
              stroke: $primary-color;
            }
          }
          .chat-icon {
            #Line_9113,
            #Line_9114 {
              stroke: $primary-color;
            }
          }
        }
        .home-icon {
          padding-left: 4px;
        }
        .submenu-list {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          width: 100%;
          max-height: 0;
          opacity: 0;
          transform: translateY(-10px);
          transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
            transform 0.5s ease-in-out;
          pointer-events: none;

          div {
            padding: 17px 22px;
            cursor: pointer;
            font-size: 16px;
            line-height: 20px;
            color: #101223;
            background: #f7f7f7 0% 0% no-repeat padding-box;
            box-shadow: 0px 1px 0px #0000001a;
            border-radius: 10px;
            margin: 5px 0;
            transition: transform 0.2s ease-in-out;

            &:hover {
              background: #e0e0e0;
            }
          }
        }

        &:hover .submenu-list,
        &:focus-within .submenu-list {
          max-height: 500px;
          opacity: 1;
          transform: translateY(0);
          margin-top: 12px;
        }

        &.submenu-list {
          max-height: 0;
          opacity: 0;
          transform: translateY(-10px);
          transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
            transform 0.5s ease-in-out;
        }
      }
    }
  }

  .icon {
    position: absolute;
    right: 0;

    img {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .submenu-content {
    width: calc(100% - 299px);
    background: #f5f5f5;
    box-shadow: 0px 3px 6px #00000029;
    padding: 24px 20px !important;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    animation: fadeIn 0.3s ease-in-out;
    display: none;

    @media (max-width: 768px) {
      width: calc(100% - 100px);
    }

    .icon-right {
      margin-bottom: 20px;
      text-align: left;
    }

    .chat-inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      h5 {
        font-size: 12px;
        line-height: 14px;
        color: #151515;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }

      .chat-details {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        .chatsub-heading {
          font-size: 10px;
          line-height: 12px;
          color: #151515;
          font-weight: 700;
          margin-bottom: 14px;
        }

        .list-history {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 70%;
          margin-bottom: 12px;

          .left-text {
            &:nth-child(1) {
              color: #333333;
              font-size: 12px;
              line-height: 10px;
            }

            &:nth-child(2) {
              color: #9d9d9d;
              font-size: 10px;
              line-height: 12px;
            }
          }
        }
      }
    }
  }
}

.show-submenu {
  display: block !important;
}

.sidebar-mobile.menu-visible {
  transform: translateX(0); /* Slide into view */
}
// body.menu-open .sidebar-mobile {
//   left: 0;
// }

body.menu-open .chat-box {
  transform: translateX(280px);
  transition: transform 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sidebar-mobile.show-menu {
  left: 0;
}

.sidebar-mobile.active {
  left: 0;
  width: calc(100% - 299px);
}

.close-btn {
  font-size: 20px;
  cursor: pointer;
}

.top-pro-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 24px 19px 19px;

  .profile-img-m {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
  }

  .cl-btn {
    border: none;
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    background: #e5ebfd;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 14px;
      height: 14px;
      object-fit: none;
    }
  }
}

.for-desktop {
  display: none;
}

@media (min-width: 1024.98px) {
  .for-mobile {
    display: none;
  }

  .for-desktop {
    display: flex;
  }
}

@media (min-width: 1920px) and (max-width: 2100px) {
  .bubble {
    font-size: 16px !important;
  }
}

// media query
@media (min-width: 1366px) and (max-width: 1919px) {
  .left-chat-sec-popup ul.previous-date-list p.ttl {
    font-size: 12px;
  }

  .left-chat-sec-popup ul.previous-date-list span.date-notes {
    font-size: 10px;
  }

  .leftNav .custom-list-item {
    height: 48px !important;
  }

  // .middleGrid .chat-container {
  //   padding: 6px 16px 6px 10px !important;
  // }

  .leftNav .custom-list-item span {
    font-size: 10px !important;
    line-height: 10px !important;
  }

  .message.bot .user-left-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -3px;
  }

  .message.user .user-img-right {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 6px;
  }

  .bubble {
    font-size: 14px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1365px) {
  .mainSection {
    grid-template-columns: 6.5% 1fr 16%;
  }

  .chat-box {
    padding: 0px 20px;
  }

  .middle-chat-scrl {
    padding-right: 20px;
    padding-left: 20px;
  }

  .middleGrid .chat-container {
    max-width: calc(100% - 98px) !important;
    padding: 6px 16px 6px 10px !important;
    margin: 20px 0px 40px 0px !important;
  }
}

/* ipad resolution */
@media (min-width: 768px) and (max-width: 1024px) {
  .mainSection {
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 0px;
  }

  .middle-chat-scrl {
    padding-right: 20px;
    padding-left: 20px;
  }

  .leftNav,
  .rightGrid {
    display: none;
  }

  .chat-box {
    padding: 0px 20px;
  }

  .mid-panel-wrap {
    height: calc(100vh - 64px) !important;
  }

  .middleGrid .chat-container {
    margin: 20px 0px !important;
    border-radius: 30px !important;
    padding: 10px !important;
  }

  .user-img-right,
  .user-left-img {
    display: none;
  }

  .message.right {
    padding-right: 16px;
  }

  .input-area.customInput {
    max-width: calc(100% - 10px);
  }
}

/* Mobile resolution */
@media (max-width: 767px) {
  .mainSection {
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 0px;
  }

  .middle-chat-scrl {
    padding-right: 20px;
    padding-left: 20px;
  }

  .leftNav,
  .rightGrid {
    display: none;
  }

  .bubble-space {
    padding: 0px !important;
  }

  .chat-box {
    padding: 0px 20px;
  }

  .mid-panel-wrap {
    height: calc(100vh - 64px) !important;
  }

  .middleGrid .chat-container {
    margin: 20px 0px !important;
    border-radius: 24px !important;
    max-width: calc(100% - 28px) !important;
    padding: 10px !important;
  }

  .message img {
    display: none;
  }

  .message.right {
    padding-right: 16px;
  }

  .input-area.customInput {
    max-width: calc(100% - 10px);
  }

  .chatInput {
    min-width: 68% !important;
    font-size: 12px;
  }

  .middleGrid .middle-chat-scrl .chat-mid-title h1 {
    font-size: 28px;
  }

  .middleGrid .middle-chat-scrl .chat-mid-title h2 {
    font-size: 18px;
  }
}

// Custom Table css
.custom-table {
  width: 100%;
  margin-bottom: 20px;

  .table-container {
    width: 100%;
    margin: auto;
    padding: 0px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #0000000a;
    border: 1px solid #ececec;
    border-radius: 6px;
  }

  .my-deal-ttl {
    font-size: 16px;
    color: #151515;
    margin: 18px 0px 12px;
    font-weight: bold;
  }

  .oj-table.oj-table-grid-display {
    width: 100% !important;
    border: none !important;
  }

  .badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: inline-block;

    &.proposed {
      background-color: #ff9800;
    }

    &.negotiation {
      background-color: #ab47bc;
    }

    &.qualified-lead {
      background-color: #4caf50;
    }

    &.contract-sent {
      background-color: #2196f3;
    }

    &.discovery {
      background-color: #f44336;
    }
  }

  .owner-chip,
  .contact-chip {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 20px;
    background: #f1f3f5;
    font-weight: 500;
  }

  .owner-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .oj-table-column-header-cell {
    height: 33px !important;
    padding: 0px 4px;
  }

  .oj-table-column-header-cell {
    font-size: 14px !important;
  }

  .oj-table-header-row {
    height: 36px !important;
  }

  .oj-table-data-cell {
    font-size: 14px;
    color: #323338;
  }

  .oj-table-column-header-text {
    font-size: 14px;
    font-weight: normal;
    color: #323338;
  }

  .oj-table-element:not(.oj-table-column-header-resizing, .oj-focus)
    .oj-table-data-cell.oj-selected,
  .oj-table-element:not(.oj-table-column-header-resizing, .oj-focus)
    .oj-table-selector-cell.oj-selected,
  .oj-table-element:not(.oj-table-column-header-resizing, .oj-focus)
    .oj-table-gutter-start-body-cell.oj-selected,
  .oj-table-element:not(.oj-table-column-header-resizing, .oj-focus)
    .oj-table-gutter-end-body-cell.oj-selected {
    background: #ccd9fa;
    background-image: linear-gradient(#ccd9fa, #ccd9fa);
  }

  .oj-selector:active
    .oj-selector-wrapper:not(.oj-selected):not(.oj-indeterminate),
  .oj-selector .oj-selector-wrapper:not(.oj-selected):not(.oj-indeterminate),
  .oj-selector:hover
    .oj-selector-wrapper:not(.oj-selected):not(.oj-indeterminate) {
    color: #c3c6d4 !important;
  }

  .oj-selector .oj-selector-wrapper.oj-selected,
  .oj-selector:active .oj-selector-wrapper.oj-selected,
  .oj-selector:hover .oj-selector-wrapper.oj-selected {
    color: $primary-color;
  }

  .oj-table tbody tr:hover {
    background-color: #f3f3f3 !important;
  }

  .oj-table-element:not(.oj-table-column-header-resizing)
    .oj-table-data-cell.oj-selected,
  .oj-table-element:not(.oj-table-column-header-resizing)
    .oj-table-selector-cell.oj-selected,
  .oj-table-element:not(.oj-table-column-header-resizing)
    .oj-table-gutter-start-body-cell.oj-selected,
  .oj-table-element:not(.oj-table-column-header-resizing)
    .oj-table-gutter-end-body-cell.oj-selected,
  .oj-table:not(.oj-focus) .oj-table-data-cell.oj-selected,
  .oj-table:not(.oj-focus) .oj-table-selector-cell.oj-selected,
  .oj-table-element:not(.oj-focus) .oj-table-gutter-start-body-cell.oj-selected,
  .oj-table-element:not(.oj-focus) .oj-table-gutter-end-body-cell.oj-selected {
    background: #ccd9fa;
    background-image: linear-gradient(#ccd9fa, #ccd9fa) !important;
  }

  .table-toolbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0px;

    .toolbar-icons {
      display: flex;
      align-items: center;
      justify-content: center;

      button.oj-button-button.oj-component-initnode {
        border: none;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0px 6px;
        font-size: 12px;
        color: #000000;
      }

      .deal-btn-flx {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .txt-button {
          background: var(--primary);
          border-radius: 6px 0px 0px 6px;
          color: #fff;
          font-size: 14px;
          height: 33px;
          border: none;
          cursor: pointer;
          padding: 8px 12px;
          border-right: 1px solid #fff;
        }

        .add-deal-btn {
          line-height: normal;
          font-size: 14px;
          background: var(--primary);
          color: #fff;
          border: none;
          height: 33px;
          border-radius: 0px 6px 6px 0px;
          min-width: 24px;

          .oj-button-toggle.oj-selected.oj-button-outlined-chrome,
          .oj-button.oj-selected.oj-button-outlined-chrome .oj-button-button {
            background: var(--primary) !important;
          }
        }

        .oj-ux-ico-chevron-down:before {
          content: "\f1cb";
          color: #fff;
          font-size: 19px;
        }

        .oj-button-toggle.oj-selected.oj-button-outlined-chrome,
        .oj-button.oj-selected.oj-button-outlined-chrome .oj-button-button {
          background-color: #023fe6 !important;
        }
      }

      .more-revert {
        line-height: normal !important;
        font-size: 14px;
        border-radius: 4px;
        border: none;
        height: 28px;
        min-width: 28px;
        max-width: fit-content;
        margin: 0px 6px;
      }
    }

    .toolbar-right {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        cursor: pointer;
      }

      .export-download {
        background: transparent;
        border: none;
        height: 24px;
        margin: 0px 4px;

        span.oj-button-icon.oj-end.oj-component-icon.oj-button-menu-dropdown-icon {
          display: none;
        }

        .oj-button-label img {
          padding: 0px !important;
        }
      }
    }

    .oj-button-button {
      border: none;
    }
  }

  .oj-menu-option-start-icon {
    height: 36px !important;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .table-pagination {
    position: relative;

    .oj-text-field-middle {
      border: 1px solid #999999;
      padding: 0px;
      height: 26px;
      border-radius: 4px;
    }

    .oj-pagingcontrol-nav {
      justify-content: center;
      flex-direction: row-reverse;
    }

    .oj-pagingcontrol-nav-arrow-section {
      border-inline-start-color: transparent;
    }

    .oj-pagingcontrol-nav-page.oj-selected {
      border: none;
      background: #f2f2f2;
      color: #000;
      display: inline;
      font-size: 12px;
      cursor: pointer;
    }

    .oj-pagingcontrol-nav-input-section {
      position: absolute;
      right: 10px;
    }
  }
}

.oj-menu-option-start-icon {
  height: 36px !important;
  font-size: 14px;
}

.oj-menu-item-icon,
.oj-menu-item-end-icon {
  color: #323338;
}

.oj-menu-item-icon,
.oj-menu-item-end-icon {
  font-size: 20px !important;
}

.oj-menu {
  list-style: none;
  padding: 4px;
  border-radius: 8px !important;
  box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
}

.oj-menu-item > a {
  height: 34px !important;
  font-size: 14px;
}
.mainSectionWithBChatAndMenu {
  grid-template-columns: 5.5% 16% 20% 1fr;
}
