.greyTable .oj-table-column-header-cell,
.greyTable .oj-table-column-header-selector-cell {
    background: #0000001A;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    color: #151515;
    padding-top: 0px;
    padding-bottom: 0px;

}

.oj-table-header-row {
    height: 36px !important;
}

.greyTable {
    --oj-collection-grid-row-height: 36px;
    font-size: 12px;

    .oj-table-body-row {
        &:first-child {
            height: calc(var(--oj-collection-grid-row-height) - 0px) !important;
        }

        &:last-child {
            height: calc(var(--oj-collection-grid-row-height) - 0px) !important;
            border-bottom: unset !important;
        }
    }

    .oj-selected::before {
        /* background: #000000; */
        border-radius: 5px;

    }

    .oj-selector {
        font-size: 0px !important;

    }

    .oj-selector .oj-selector-wrapper:not(.oj-selected):not(.oj-indeterminate) {
        color: #8D8D8D !important;
        border-radius: 5px;

    }
}