.leftNav {
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.sideLogo {
  width: 100%;
  background: #fff;
  border-radius: 16px 16px 0px 0px;
  border-bottom: 0.5px solid #023FE61C;
  height: 48px;
}

.profileIcon {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.profileIcon img {
  width: 42px;
  border-radius: 24px;
}

.leftNav .custom-list-item {
  text-align: center;
  border: none !important;
  height: 48px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftNav .custom-list-item span {
  color: #333333;
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftNav .custom-list-item span:first-child {
  display: block;
  font-size: 18px !important;
}

.leftNav .custom-list-item.oj-hover {
  background: #E4EAFC;
  color: #000000;
}

.leftNav .custom-list-item.oj-hover span:first-child {
  color: var(--primary);
}

.leftNav .custom-list-item.oj-hover span:nth-child(2) {
  font-weight: bold !important;
  color: #000000;
}

.leftNav .custom-list-item.oj-focus-ancestor .custom-list-item.oj-selected,
.custom-list-item.oj-focus-ancestor .custom-list-item.oj-selected,
.custom-list-item.oj-focus-ancestor .custom-list-item.oj-selected {
  background: #E4EAFC !important;
}

.leftNav ul[aria-multiselectable=false] .custom-list-item.oj-selected:last-child {
  box-shadow: none;
}

.leftNav .custom-list-item.oj-selected,
.custom-list-item.oj-selected,
.custom-list-item.oj-selected {
  background: #E4EAFC !important;
}

.leftNav .custom-list-item.oj-selected span:first-child {
  color: var(--primary);
}

.leftNav .custom-list-item.oj-selected span:last-child {
  font-weight: bold !important;
  color: #000;
}

/* Logout */
.profileWrapper {
  position: relative;
  width: fit-content;
  margin: auto;
}

.profileWrapper img {
  width: 42px;
  border-radius: 24px;
  display: block;
}

.menuButton {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.profileWrapper:hover .menuButton {
  opacity: 1;
  pointer-events: auto;
}

.logOutMenu{
margin-left: 32px;
margin-bottom: 4px;
}

.logOut {
  font-size: 12px;
  margin: 0;
  color: #333;
  padding: 0px 12px;
}