.menu-icon {
    vertical-align: -webkit-baseline-middle;
    color: #fff;
}

.custom-list-item {
    text-align: center;
    border: none !important;
}

.custom-list-item span {
    color: #333333;
    font-size: 10px !important;
    line-height: 12px !important;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-list-item span:first-child {
    display: block;
    font-size: 18px !important;
    margin-bottom: 4px;
}

.custom-list-item.oj-hover {
    background: #E4EAFC;
    color: #000000;
}

.custom-list-item.oj-hover span:first-child {
    color: var(--primary);
}

.custom-list-item.oj-hover span:nth-child(2) {
    font-weight: bold !important;
    color: #000000;
}

.oj-ux-ico-close {
    font-size: 16px !important;
    font-weight: 400px !important;
}

.oj-ux-ico-close:hover {
    font-size: 16px !important;
    font-weight: 900px !important;
}

.rightToggleMenu {
    min-width: 6%;
    z-index: 9999;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 16%;
    right: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.visible-popup {
    display: block;
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.rightToggle {
    text-align: center;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1000;
    top: 18%;
    right: 0;
    width: 36px;
    height: 32px;
    background: var(--primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px rgba(226, 224, 224, 0.8392156863);
    border-radius: 16px 0px 0px 16px;
    opacity: 1;
}